*{
    border: 2px black solid;
    background-color: rgb(53, 53, 53);
    color: white;
}

.top-header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.bttn{
    flex: 1 1 auto;
    background-color: red;
    margin: 5px;
    height: 20px;
    width: 30px;
}

#translate {
    background-color: black;
}