*{
    margin: 0;
    border: 2px solid black;
}

.headernavbar {
    display: flex;
    justify-content: space-around;
}

.navbar {
    flex: 1;
    background-color: pink;
}

.headersearch form {
    display: flex;
}

input {
    flex: 1;
    background-color: lightgreen;
}